<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slideshow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Slideshow">

        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".slideTwo"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".slideOne"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

            <activity android:name=".Teachers.RichardBonnici"
                android:label="Tutor Details">
            </activity>
            <activity android:name=".Teachers.GeorgeMicallef"
                android:label="Tutor Details">
            </activity>
            <activity android:name=".Teachers.NatashaMifsud"
                android:label="Tutor Details">
            </activity>
            <activity android:name=".Teachers.VictorValdes"
                android:label="Tutor Details">
            </activity>
            <activity android:name=".Teachers.JonathanGalea"
                android:label="Tutor Details">
            </activity>
            <activity android:name=".Teachers.JeromeMicallef"
                android:label="Tutor Details">
            </activity>
            <activity android:name=".Teachers.TarahGalea"
                android:label="Tutor Details">
            </activity>
            <activity android:name=".Teachers.MichealGonzalez"
                android:label="Tutor Details">
            </activity>
            <activity android:name=".Teachers.JasonBartolo"
                android:label="Tutor Details">
            </activity>
            <activity android:name=".Teachers.JackGrech"
                android:label="Tutor Details">
            </activity>
            <activity android:name=".Teachers.AnnaCarbonaro"
                android:label="Tutor Details">
            </activity>
            <activity android:name=".Teachers.KayAzzopardi"
                android:label="Tutor Details">
            </activity>
            <activity android:name=".Teachers.GabriellaBonnici"
                android:label="Tutor Details">
            </activity>
            <activity android:name=".TeacherList"
                android:label="Tutor Details">
            </activity>

    </application>

</manifest>